<div class="area" id="zone">
    <div id="software" class="two-col">
        <div class="image-container">
            <img src="/assests/Disk.png" alt="Disk" style="max-width: 200px;">
        </div>
        <div class="text-container">
            <span class="text-black" style="font-size: 20px;">Get Personalize software for business.</span><br>
            <span class="text-medium description">
                We can design personalize software for your business as per your requirements. You don't need to learn new software to handle your business, the software will work as per your personal requirement 
            </span>            
        </div>
    </div>
    <div class="two-col">
        <div class="panel">
            <div class="panel-head">Customized Software for One PC</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Development Charge</td><td>Starting @ Rs.2,000/-</td>                   
                    </tr>  
                    <tr>
                        <td>Validity</td><td>Life Time</td>                   
                    </tr> 
                    <tr>
                        <td>User</td><td>Single User</td>                   
                    </tr>              
                </table>
            </div>
            <div class="panel-footer">
                Development price will increase/decrease as per the complexity..
            </div>        
        </div>
    </div>
    
</div>