<div class="area" id="zone">
    <div id="Advertisation" class="two-col">
        <div class="image-container">
            <img src="/assests/Ads.png" alt="Disk">
        </div>
        <div class="text-container">
            <span class="text-black" style="font-size: 20px;">Digital Marketing</span><br>
            <span class="text-medium description">
                Show your Business Advertisement on Social Media Platforms like Facebook, Twitter and through Google Ads.We can handle all hassels related to your digital marketing at cheaper cost.
            </span>
            
        </div>
    </div>
    <div class="panel">
        <div class="panel-head">Comming Soon</div>               
    </div>
</div>