<div class="area" id="zone">
    <div id="DataDigitization" class="two-col">
        <div class="image-container">
            <img src="/assests/DataDigitization.png" alt="Disk">
        </div>
        <div class="text-container">
            <span class="text-black" style="font-size: 20px;">Data Digitization</span><br>
            <span class="text-medium description">
                We can convert your handwritten records to digital format.  Mannual records are hard to manage and analyze. Once your hanwritten/mannual records conveted to digital format like word, excel you can easly maintain, create analysis report out of it.Tell us. 
            </span>           
        </div>
    </div>
    <div class="two-col">
        <div class="panel">
            <div class="panel-head">Data Digitization (Mannual record to digital record)</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Per page cost</td><td>Starting @ Rs.10/-</td>                   
                    </tr>                    
                </table>
            </div>
            <div class="panel-footer">
                Per page cost will increase or decrease as per complexity.
            </div>        
        </div>
    </div>    
</div>