<div class="area" id="zone">
    <div id="Graphics" class="two-col">
        <div class="text-container">
            <span class="text-black" style="font-size: 20px;">Graphics Design</span><br>
            <span class="text-medium description">
                We can design Graphics, Infographic, Logos, Visiting Cards, Web Design Templets(HTML), Interactive Power Point Presentation, Book Cover, Digital Paintings  at affordable prices.
            </span>           
        </div>
        <div class="image-container">
            <img src="/assests/Graphic.png" alt="Disk">
        </div>
    </div>
    <div class="two-col">
        <div class="panel">
            <div class="panel-head">Logo</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Design Charge Charge</td><td>Rs.1000/-</td>                   
                    </tr>                   
                </table>
            </div>
            <div class="panel-footer">
                * 10 free revision.
            </div>        
        </div>
        <div class="panel">
            <div class="panel-head">Poster</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Design Charge Charge</td><td>Rs.500/-</td>                   
                    </tr>                   
                </table>
            </div>
            <div class="panel-footer">
                * 5 free revision.
            </div>        
        </div>
        <div class="panel">
            <div class="panel-head">Visiting Card</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Design Charge Charge</td><td>Rs.500/-</td>                   
                    </tr>                   
                </table>
            </div>
            <div class="panel-footer">
                * 5 free revision.
            </div>        
        </div>
        <div class="panel">
            <div class="panel-head">Web Design (HTML)</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Design Charge Charge</td><td>Rs.1,500/-</td>                   
                    </tr>                   
                </table>
            </div>
            <div class="panel-footer">
                * 8 free revision.
            </div>        
        </div>
        <div class="panel">
            <div class="panel-head">Power Point Presentation</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Design Charge Charge</td><td>Rs.100/- Per Page</td>                   
                    </tr>                   
                </table>
            </div>
            <div class="panel-footer">
                * 1 free revision.
            </div>        
        </div>
        <div class="panel">
            <div class="panel-head">Book Cover</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Design Charge Charge</td><td>Rs.500/- Per Page</td>                   
                    </tr>                   
                </table>
            </div>
            <div class="panel-footer">
                * 5 free revision.
            </div>        
        </div>
        <div class="panel">
            <div class="panel-head">Digital paintings</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td colspan="2">Comming Soon</td></td>                   
                    </tr>                   
                </table>
            </div>
            <div class="panel-footer">
               
            </div>        
        </div>
    </div>
</div>