<div class="area" id="zone">
    <div id="personalComputer" class="two-col">
        <div class="text-container">
            <span class="text-black" style="font-size: 20px;">We can assemble your dream coumpter</span><br>
            <span class="text-medium description">
                Select components as per your requirement. We assemble and deliver your dream PC at cheapest rate possible. Or you can tell what you going to do with the PC and we can suggest you the best configuration at cheapest rate available in the market. 
            </span>
            
        </div>
        <div class="image-container">
            <img src="/assests/PC.png" alt="Disk">
        </div>
    </div>
    <div class="panel">
        <div class="panel-head">Comming Soon</div>               
    </div>
</div>