<div class="overlay">
    <div class="navigation">
        <span class="nav-icon active"></span>
        <span class="nav-icon"></span>
        <span class="nav-icon"></span>
    </div>
    <div class="scroll-down">
        <span>SCROLL DOWN</span>
    </div>    
</div>


<main>
    <article class="home graphic">
        <img src="/assests/mandal-bg.png" alt="background image" class="mandal">
        <img src="/assests/main_text.png" alt="mtechno graphic text" class="main-text">
    </article>
    <article class="static graphic"></article>
    <article class="motion graphic"></article>
</main>